In [1]:
import os 
os.chdir("../")

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/BrentOilPrices.csv")

In [7]:
df.head()

        Date  Price
0 1987-05-20  18.63
1 1987-05-21  18.45
2 1987-05-22  18.55
3 1987-05-25  18.60
4 1987-05-26  18.63

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\windows 10\AppData\Local\Temp\ipykernel_8116\2394721818.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])